{
    "vcenter": [
        {
            "ip": "vcenter.example.com",
            "user": "administrator@vsphere.local",
            "password": "your-password"
        }
    ],
    "ad": {
        "domain": "YOURDOMAIN",
        "servers": [
            "192.168.1.1"
        ],
        "service_user": "svc_account",
        "service_password": "your-ad-password",
        "allowed_group": "LocalAdmins",
        "base_dn": "DC=example,DC=com"
    }
}
